* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.5rem;
}

body {
    padding-top: 7rem;
    background-color: #f7f7f7;
}

.hidden {
    display: none;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
}

p {
    margin-top: 1rem;
    text-align: justify;
}

.customText {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    color: #5f6af8;
}

.headerBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5125ad;
    height: 7rem;
    border-radius: 0 0 0 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


/* .headerBar~* {
    margin-top: 2rem;
} */

.appName {
    color: white;
    font-size: 2rem;
}

.appName span {
    color: white;
    font-size: 2rem;
    margin-left: 3rem;
}

.badge {
    font-size: 2rem;
    font-weight: bold;
    border: thin solid silver;
    border-radius: 2rem;
    min-width: 2rem;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    margin-right: 2rem;
    padding: 0.5rem;
}


/* Buttons */

.btn {
    height: 3rem;
    min-width: 3rem;
    padding: 0.25rem 0.25rem;
    border-radius: 0.5rem;
    background-color: #e3e3fa;
    border: thin solid #dddde5;
    color: black;
    line-height: 1rem;
}

.btn:active {
    background: #ccccd4;
    border: thin solid #bbbbc3
}

.btn img {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    padding: 0.25rem;
}

.btn.noBack {
    height: 3rem;
    min-width: 3rem;
    padding: 0.25rem 0.25rem;
    border-radius: 0.5rem;
    background-color: #f7f7f7;
    border: thin solid #f7f7f7;
    color: black;
    line-height: 1rem;
}

.btngroup {
    display: flex;
    flex-direction: row;
}

.btngroup.end {
    justify-content: flex-end;
}

.btngroup.between {
    justify-content: space-between;
}

.btngroup.center {
    justify-content: center;
}

.btngroup .btn {
    flex: 1;
    border-radius: 0;
}

.btngroup .btn.btn-sm {
    height: 2rem;
    border: #f7f7f7;
    border: none;
}

.btngroup .btn.half {
    flex: 0.5;
}

.btngroup .btn.third {
    flex: 0.33;
}

.btngroup .btn.quarter {
    flex: 0.25;
}

.btngroup .btn:first-child {
    border-radius: 0.35rem 0 0 0.35rem;
}

.btngroup .btn:last-child {
    border-radius: 0 0.35rem 0.35rem 0;
}

.btngroup .btn:first-child:last-child {
    border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;
}


/* Component */

.component {
    padding: 1.2rem;
}

.componentHeader {
    position: fixed;
    left: 0;
    padding: 1rem 0;
    background-color: #fff;
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.componentTitle {
    margin-left: 1rem;
    flex: 1;
}

.componentTitle~*:last-child {
    margin-right: 1rem;
}

.componentContent {
    padding: 1rem;
}

.componentHeader+.componentContent {
    padding-top: 5.5rem;
}

.navbar {
    position: fixed;
    left: 0;
    width: 100%;
    color: black;
    /* background: #e3e3fa; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar.nav-bottom {
    bottom: 0;
}

.navbar.nav-bottom~* {
    margin-bottom: 4rem;
}

.navbar:not(.nav-bottom)~* {
    margin-top: 4rem;
}

.navbar .btngroup {
    flex: 1;
}

.navbar .btn {
    height: 4rem;
}

.navbar .btngroup .btn:first-child,
.navbar .btngroup .btn:last-child {
    border-radius: 0;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.field label {
    margin-right: 1rem;
}

.field input {
    flex: 1;
    height: 2rem;
    padding: 0.3rem 0.65rem;
    color: black;
    border-bottom: thick solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #dddde5;
    background-color: #f7f7f7;
}

.field input.valid {
    border: thin solid #1f9a5e
}

.field input.invalid {
    border: thin solid #e05553
}

.field label.half {
    flex: 1;
}

.field label.third {
    flex: 0.5;
}

.field label.quarter {
    flex: 0.33;
}

.field label.fifth {
    flex: 0.25;
}

.list {
    width: 100%;
    list-style: none;
}

.list li {
    padding: 1rem;
    color: #5f6af8;
    border-color: #dddde5;
    border-style: solid;
    border-width: 0 0 3px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #5f6af8;
}


/* .list li:first-child {
    border-top-width: thin;
    border-radius: 0.35rem 0.35rem 0 0;
}

.list li:last-child {
    border-top-width: thin;
    border-radius: 0 0 0.35rem 0.35rem;
} */

.list li.active {
    color: white;
    background: #5125ad;
    border: thin solid #40149c;
}

.list ul li {
    padding-left: 1rem;
}

.list ul {
    display: none;
}

.list .showSub {
    display: none;
    font-weight: unset;
}

.list li .open {
    display: block;
    list-style: none;
    font-weight: unset;
}

.list li .done,
.done {
    display: block;
    list-style: none;
    text-decoration: line-through;
}

.list .late {
    color: red;
}

.icon-end {
    position: absolute;
    right: 1;
}

.button-end {
    position: absolute;
    left: 85%;
    align-items: center;
}


/* colors */

.active {
    color: white;
    background: #5125ad;
    border: thin solid #40149c
}

.active:active {
    background: #3f038b;
    border: thin solid #2d027a
}

.primary {
    color: white;
    background: #5125ad;
    border: thin solid #40149c
}

.primary:active {
    background: #3f038b;
    border: thin solid #2d027a
}

.secondary {
    color: black;
    background: #b9c2e9;
    border: thin solid #a8b1d8
}

.secondary:active {
    background: #97a0e7;
    border: thin solid #869fc6
}

.success {
    color: white;
    background: #30ab6f;
    border: thin solid #1f9a5e
}

.success:active {
    background: #0e894d;
    border: thin solid #0f783c
}

.warning {
    color: black;
    background: #f2e36e;
    border: thin solid #e1d25d
}

.warning:active {
    background: #d0c14c;
    border: thin solid #c0b03b
}

.danger {
    color: white;
    background: #f16664;
    border: thin solid #e05553
}

.danger:active {
    background: #d94442;
    border: thin solid #c83331
}

.light {
    color: black;
    background: #e3e3fa;
    border: thin solid #dddde5
}

.light:active {
    background: #ccccd4;
    border: thin solid #bbbbc3
}

.dark {
    color: white;
    background: #1e2658;
    border: thin solid #0d1547
}

.dark:active {
    background: #000436;
    border: thin solid #000325
}


/* margins */

.mtHalf {
    margin-top: 0.5rem;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt3 {
    margin-top: 3rem;
}

.mt4 {
    margin-top: 4rem;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mb3 {
    margin-bottom: 3rem;
}

.mb4 {
    margin-bottom: 4rem;
}

.ml1 {
    margin-left: 1rem;
}

.ml2 {
    margin-left: 2rem;
}

.ml3 {
    margin-left: 3rem;
}

.ml4 {
    margin-left: 4rem;
}

.mr1 {
    margin-right: 1rem;
}

.mr2 {
    margin-right: 2rem;
}

.mr3 {
    margin-right: 3rem;
}

.mr4 {
    margin-right: 4rem;
}